
.MatchPage{
    display: grid;
    grid-template-columns: 1fr 5fr;
        
    h1{
        display: grid;
        grid-column: span 2;
        justify-content: center;
        margin-bottom:10px;
    }
    .Mini-Heading{
        display: flex;
        justify-content: center;
        grid-column: span 2;
        margin-bottom:10px;
    }
    .dateDetails{
        
        
        display: grid;
        
        text-align: left;
        padding: 20px;
        
    }
    .centered-message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Optional: Set a specific height if needed */
      }
    
}