.DateComponent{
  
    .dates{
        margin-bottom: 10px;
        text-align:left;
        font-size: 1.5rem; 
       a{
        color: #FFFFEC;
       }
    }
    h2{
        padding-bottom: 10px;
    }
}