@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');



*{
  box-sizing: border-box;
  padding : 0;
  margin: 0;

}

a{
  text-decoration: none;
  color: #E4DEBE;
}












body {
  
  font-family: 'Playfair Display', serif;
  background-color: #3E3232;
  color: white;
  max-width: 1100px;
  margin: 0 auto;

  
}
